/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('back.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #1E1E1E;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.5;
}

.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.dashboard-title {
    flex-grow: 1;
    text-align: center;
}

.logout-button {
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    transform: scale(1.05);
}

.dashboard {
    display: flex;
    gap: 20px;
    position: relative; /* Allows to position the elements in relation to this container */
}

.dashboard-item {
    background-color:grey;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: white;
    opacity: 0.5;
}

.dashboard-item:hover {
    transform: scale(1.05);
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }

    .dashboard-item:not(:last-child) {
        margin-bottom: 20px;
    }
}


/* Login Page CSS Styles */
.login-container {
    background: url('back.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: #1E1E1E;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    width: 300px;
}

.form-title {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    color: white;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.login-button {
    width: 100%;
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #505050;
    transform: scale(1.05);
}

